.meter {
    position: relative;
    width: 100px;
    height: 12px;
    background-color: black;
    border-radius: 25px;
    padding: 1px;
}

.meter .cplus {
    display: block;
    height: 100%;
    width: 45%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .java {
    display: block;
    height: 100%;
    width: 45%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .python {
    display: block;
    height: 100%;
    width: 45%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .html {
    display: block;
    height: 100%;
    width: 80%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .css {
    display: block;
    height: 100%;
    width: 67%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .js {
    display: block;
    height: 100%;
    width: 55%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .bootstrap {
    display: block;
    height: 100%;
    width: 50%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .php {
    display: block;
    height: 100%;
    width: 55%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .mysql {
    display: block;
    height: 100%;
    width: 50%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .windows {
    display: block;
    height: 100%;
    width: 65%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .linux {
    display: block;
    height: 100%;
    width: 57%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .scripting {
    display: block;
    height: 100%;
    width: 35%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .networking {
    display: block;
    height: 100%;
    width: 35%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}

.meter .english {
    display: block;
    height: 100%;
    width: 85%;
    background-color: aqua;
    border-radius: 7px;
    margin-left: 1px;
}