html, body, .container {
    background-color: #004E89;
    font-family: 'Anaheim', sans-serif;
    color: #CAFF07;
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    scroll-behavior: smooth;
}

.special-header{
    font-family: 'Amita', sans-serif;
    font-size: 3.2em;
    text-shadow: #c9ff0786 2px 2px;
}

.special-header img{
    vertical-align: middle;
    padding-left: 0.4em;
    width: 2em;
}

/* .special-header .contact img{
    width: 1.2em;
} */

p, td {
    font-size: 1.5em;
}

.top{
    display: block;
    height:100%;
    width:100%;
    box-sizing:border-box;
    text-align: center;
}
.top h1 {
    font-size: 7em;
}

.top h3{
    font-size: 3.4em;
}

.about {
    margin: auto;
    display: block;
    height:100%;
    width:70%;
    box-sizing:border-box;
    text-align: center;
}

.skills{
    display: block;
    height:100%;
    width:100%;
    box-sizing:border-box;
    text-align: center;
}
.skills table, td {
    margin: auto;
    padding-right: 50px;
    border-spacing: 0 10px;
}

.music {
    margin: auto;
    display: block;
    height:100%;
    width:70%;
    box-sizing:border-box;
    text-align: center;
}

.projects {
    margin: auto;
    display: block;
    height:100%;
    width:70%;
    box-sizing:border-box;
    text-align: center;
    margin-top: 100px;
}

.contact {
    margin: auto;
    display: block;
    height:60%;
    width:70%;
    box-sizing:border-box;
    text-align: center;
}
.contact .special-header {
    font-size: 1.5em;
}

.footer {
    display: block;
    width:100%;
    box-sizing:border-box;
    text-align: center;
}

iframe {
    width: 40%;
    height: 30%;
}

.center {
    margin-top: 20vw;
}